<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='/static/css/home.css' th:href="@{/css/home.css}">

    <title>Главная</title>
</head>
<body>

    <form class="logoBlock">
        <img src="/static/images/foreground.png" th:src="@{/images/foreground.png}" class="foreground">
        <img src="/static/images/logo.png" th:src="@{/images/logo.png}" class="logo">

        <h1 class="cafeName">BAGGINS COFFEE <span class="colorText">Forecast</span></h1>
        <a href="/statistics">Statistics</a>
        <a href="/faq">Faq</a>
        <div class="theme-button" id="themeToggle"><img src="/static/images/moon.png" th:src="@{/images/moon.png}" class="moon"></div>

    </form>

    <div class="left">
        <form class="weather">
            <h1 class="weatherTxt">Wheather</h1>
            <img src="/static/images/weather.png" th:src="@{/images/weather.png}" class="logoWeather">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th th:text="*{parser.dateWth[0]}"></th>
                    <th th:text="*{parser.dateWth[1]}"></th>
                    <th th:text="*{parser.dateWth[2]}"></th>
                    <th th:text="*{parser.dateWth[3]}"></th>
                    <th th:text="*{parser.dateWth[4]}"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Погода</td>
                    <td th:text="*{parser.trash[1]}"></td>
                    <td th:text="*{parser.trash[7]}"></td>
                    <td th:text="*{parser.trash[13]}"></td>
                    <td th:text="*{parser.trash[19]}"></td>
                    <td th:text="*{parser.trash[25]}"></td>
                </tr>
                <tr>
                    <td>t°C</td>
                    <td th:text="*{parser.trash[2]}"></td>
                    <td th:text="*{parser.trash[8]}"></td>
                    <td th:text="*{parser.trash[14]}"></td>
                    <td th:text="*{parser.trash[20]}"></td>
                    <td th:text="*{parser.trash[26]}"></td>
                </tr>
                <tr>
                    <td>Давление</td>
                    <td th:text="*{parser.trash[3]}"></td>
                    <td th:text="*{parser.trash[9]}"></td>
                    <td th:text="*{parser.trash[15]}"></td>
                    <td th:text="*{parser.trash[21]}"></td>
                    <td th:text="*{parser.trash[27]}"></td>
                </tr>
                <tr>
                    <td>Влажность</td>
                    <td th:text="*{parser.trash[4]}"></td>
                    <td th:text="*{parser.trash[10]}"></td>
                    <td th:text="*{parser.trash[16]}"></td>
                    <td th:text="*{parser.trash[22]}"></td>
                    <td th:text="*{parser.trash[28]}"></td>
                </tr>
                <tr>
                    <td>Ветер</td>
                    <td th:text="*{parser.trash[5]}"></td>
                    <td th:text="*{parser.trash[11]}"></td>
                    <td th:text="*{parser.trash[17]}"></td>
                    <td th:text="*{parser.trash[23]}"></td>
                    <td th:text="*{parser.trash[29]}"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="right">
        <form class="capacity">
            <h1 class="capacityTxt">Capacity</h1>
            <img src="/static/images/table.png" th:src="@{/images/table.png}" class="logoCapacity">
            <table class="capacityTable">
                <thead>
                <tr>
                    <th th:text="*{parser.dateWth[0]}"></th>
                    <th th:text="*{parser.dateWth[1]}"></th>
                    <th th:text="*{parser.dateWth[2]}"></th>
                    <th th:text="*{parser.dateWth[3]}"></th>
                    <th th:text="*{parser.dateWth[4]}"></th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="*{prediction.getPrediction(parser.toDigit(parser.trash[2]), parser.trash[3], parser.trash[4].replace('%', ''))}"></td>
                    <td th:text="*{prediction.getPrediction(parser.toDigit(parser.trash[8]), parser.trash[9], parser.trash[10].replace('%', ''))}"></td>
                    <td th:text="*{prediction.getPrediction(parser.toDigit(parser.trash[14]), parser.trash[15], parser.trash[16].replace('%', ''))}"></td>
                    <td th:text="*{prediction.getPrediction(parser.toDigit(parser.trash[20]), parser.trash[21], parser.trash[22].replace('%', ''))}"></td>
                    <td th:text="*{prediction.getPrediction(parser.toDigit(parser.trash[26]), parser.trash[27], parser.trash[28].replace('%', ''))}"></td>
                </tr>
                </tbody>
            </table>
            <h3>Plan your ideal meeting</h3>
            <img src="/static/images/coffee.png" th:src="@{/images/coffee.png}" class="coffee">
        </form>
    </div>
    <script type="text/javascript" src='/static/javascript/darkTheme.js' th:src="@{/javascript/darkTheme.js}"></script>
</body>
</html>