<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <script type="text/javascript" src="/static/javascript/home.js"></script>

    <title>Главная</title>
</head>
<body>

    <form class="logoBlock">
        <img src="/images/logo.png" class="logo">
        <h1 class="cafeName">BAGGINS COFFEE <span class="colorText">Forecast</span></h1>
        <input type="image" src="/images/moon.png" class="darkMode" onclick="changeTheme()">
    </form>

    <div class="left">
        <form class="weather">
            <h1 class="weatherTxt">Wheather</h1>
            <img src="/images/weather.png" class="logoWeather">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
                    <th>Суббота</th>
                    <th>Воскресенье</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Погода</td>
                    <td>lxhyih</td>
                    <td>9a5j8k</td>
                    <td>bhegj</td>
                    <td>r1ldp2hv</td>
                    <td>bhegj</td>
                    <td>r1ldp2hv</td>
                    <td>bhegj</td>
                </tr>
                <tr>
                    <td>Т (средняя)</td>
                    <td>wbflm7</td>
                    <td>obcpzs</td>
                    <td>g7t40d</td>
                    <td>nrm4to</td>
                    <td>bhegj</td>
                    <td>r1ldp2hv</td>
                    <td>bhegj</td>
                </tr>
                <tr>
                    <td>Т (макс)</td>
                    <td>a0acfb</td>
                    <td>cov9mj</td>
                    <td>cx2sk9</td>
                    <td>6tcatt</td>
                    <td>bhegj</td>
                    <td>r1ldp2hv</td>
                    <td>bhegj</td>
                </tr>
                <tr>
                    <td>Влажность (макс)</td>
                    <td>zqnaz</td>
                    <td>xn4w5</td>
                    <td>b8pqr7</td>
                    <td>g3hm7</td>
                    <td>bhegj</td>
                    <td>r1ldp2hv</td>
                    <td>bhegj</td>
                </tr>
                <tr>
                    <td>Ветер (макс)</td>
                    <td>p6dflr</td>
                    <td>jjd90t</td>
                    <td>wcl8jn</td>
                    <td>03jip6</td>
                    <td>bhegj</td>
                    <td>r1ldp2hv</td>
                    <td>bhegj</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="right">
        <form class="capacity">
            <h1 class="capacityTxt">Capacity</h1>
            <img src="/images/table.png" class="logoCapacity">
            <table class="capacityTable">
                <thead>
                <tr>
                    <th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
                    <th>Суббота</th>
                    <th>Воскресенье</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>tg9dic</td>
                    <td>0miy0n</td>
                    <td>q2oewq</td>
                    <td>6hjjmc</td>
                    <td>cqjmpk</td>
                    <td>6hjjmc</td>
                    <td>cqjmpk</td>
                </tr>
                </tbody>
            </table>
            <h3>Plan your ideal meeting</h3>
            <img src="/images/coffee.png" class="coffee">
        </form>
    </div>

</body>
</html>